/* Sqr Grid */
.navy {
  background: #113F8C;
}
.blue {
  background: #00A1CB;
}
.teal {
  background: #01A4A4;
}
.green {
  background: #61AE24;
}
.forest {
  background: #32742C;
}
.yellow {
  background: #D0D102;
}
.orange {
  background: #F18D05;
}
.red {
  background: #E54028;
}
.pink {
  background: #D70060;
}
.purple {
  background: #A784B4;
}
html,
body {
  margin: 0;
  font: 1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  color: #515047;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1%;
  background-color: #F2F1DB;
}
#dash article {
  float: left;
  width: 100%;
  text-decoration: none;
}
/* MEDIA QUERIES */
@media screen and (max-width: 399px) {
  #dash article {
    padding-bottom: 66%;
    width: 98%;
    margin: 1%;
  }
}
/* Two Column */
@media screen and (min-width: 400px) {
  body {
    padding: 1.5%;
  }
  #dash article {
    width: 47%;
    margin: 1.5%;
    padding-bottom: 47%;
  }
  #dash .s2 {
    width: 97%;
    margin: 1.5%;
    padding-bottom: 47%;
  }
}
/* Three Column */
@media screen and (min-width: 580px) {
  body {
    padding: 0.9999899999999999%;
  }
  #dash article {
    width: 31.333019999999998%;
    margin: 0.9999899999999999%;
    padding-bottom: 31.333019999999998%;
  }
  #dash .s2 {
    width: 64.66601999999999%;
    margin: 0.9999899999999999%;
    padding-bottom: 31.333019999999998%;
  }
}
/* Four Column */
@media screen and (min-width: 820px) {
  body {
    padding: 0.75%;
  }
  #dash article {
    width: 23.5%;
    margin: 0.75%;
    padding-bottom: 23.5%;
  }
  #dash .s2 {
    width: 48.5%;
    margin: 0.75%;
    padding-bottom: 23.5%;
  }
}
/* Five Column */
@media screen and (min-width: 1100px) {
  body {
    padding: 0.6%;
  }
  #dash article {
    width: 18.8%;
    margin: 0.6%;
    padding-bottom: 18.8%;
  }
  #dash .s2 {
    width: 38.800000000000004%;
    margin: 0.6%;
    padding-bottom: 18.8%;
  }
}
/* Six Column */
@media screen and (min-width: 1400px) {
  body {
    padding: 0.49998%;
  }
  #dash article {
    width: 15.66604%;
    margin: 0.49998%;
    padding-bottom: 15.66604%;
  }
  #dash .s2 {
    width: 32.33204%;
    margin: 0.49998%;
    padding-bottom: 15.66604%;
  }
}
